body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  margin: 15px;
  background-color: #888988;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

li:hover {
  background-color: #525252;
}

a {
  text-decoration: none;
  color: white;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Back button styling */
div a {
  margin-top: 20px;
  background-color: #3678f4;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

div a:hover {
  background-color: #0760b4;
}
